<!--The content below is only a placeholder and can be replaced.-->
Hiiiii
<router-outlet></router-outlet>
<br>
<!-- <a routerLink ="/first/{{textToPass}}" [queryParams]="{'messageFirst':'MessageOne'}" routerLinkActive="active">First </a> -->
<a [routerLink] ="['first',textToPass]" [queryParams]="{'messageFirst':'MessageOne'}" routerLinkActive="active">First </a>
<br>
<a routerLink ="/second/{{textToPass}}" [queryParams]="{'messageSecond':'MessageTwo'}"routerLinkActive="active">Second </a>


<br>
<button (click)="navigateTo('/first')">First</button>
<br>
<button (click)="navigateTo('/second')">Second</button>
<br />
<br />
<input [(ngModel)]='textToPass'>
